<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <a href="{% url 'note_app:category-create'%}">Create Category</a>
    <br>
    {% for category in category_list %}

        <a href="{% url 'note_app:notes-of-category-list' category.pk %}">{{ category }}</a>
        <a href="{% url 'note_app:category-delete' category.pk %}">delete</a>
        <br>
    {% endfor %}
    <br>
    {% for note in notes %}
        {{ note }}
        <a href="{% url 'note_app:note-delete' note.pk %}">delete</a>
        <br>
    {% endfor %}

    <p>Create Note</p>
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>

</body>
</html>