{% extends 'base.html' %}

{% block content %}
    <a href="{% url 'users:logout' %}">Logout</a>
    <a href="{% url 'note_app:category-create'%}">Create Category</a>
    <br>
    {% for category in category_list %}

        <a href="{% url 'note_app:notes-of-category-list' category.pk %}">{{ category }}</a>
        <a href="{% url 'note_app:category-delete' category.pk %}">delete</a>
        <br>
    {% endfor %}
    <br>
    {% for note in notes %}
        {{ note.content }}
        <a href="{% url 'note_app:note-delete' note.pk %}">delete</a>
        <br>
    {% endfor %}

    <p>Create Note</p>
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Create</button>
    </form>

{% endblock %}